/* =========================================
   HTML + BODY
========================================= */

html,
body {
  margin: 0;

  width: 100%;

  height: 100%;

  overflow: hidden;

  background: #dfe3ea;
}

/* =========================================
   BODY
========================================= */

body {
  display: flex;

  justify-content: center;

  align-items: center;
}

/* =========================================
   APP
========================================= */

.app {
  width: 100%;

  height: 100%;

  position: relative;

  overflow: hidden;
}

/* =========================================
   BACKGROUND
========================================= */

.background {
  position: fixed;

  inset: 0;

  width: 100%;

  height: 100%;

  background-image: url("./M.png");

  background-size: 100% 100%;

  background-position: center;

  background-repeat: no-repeat;

  z-index: 0;
}

/* =========================================
   GIỚI HẠN CHIỀU NGANG TRÊN PC
========================================= */

@media (min-width: 768px) {
  .app {
    width: 430px;

    height: 100%;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  .background {
    width: 430px;

    left: 50%;

    transform: translateX(-50%);
  }
}
